
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    overflow: hidden;
    width:100%;
    height: 50vh;
    position: relative;
    object-fit: cover;
}

.slider-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    height:98%;
    object-fit: cover;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}
