.india-map-svg {
  width: 110%;
  object-fit: cover;
  fill: black;
}
.india-map-svg path {
  cursor: pointer;
}
.india-map-svg path:hover {
  fill: rgb(17, 5, 88);
}
#INTG {
  fill: blue;
}
#INTG:hover {
  fill: url(#img1); /* Apply the pattern on hover */

  object-fit: cover;
  position: center; /* Maintain blue color on hover */
}

/* #INTG:hover {
  /* background-image: url("../images/test.jpg"); */
